/*

!/.dockerignore
!/.gitignore
!/.editorconfig
!/.eslintrc.json
!/.travis.yml
!/check
!/CONTRIBUTE.md
!/docker-compose.yml
!/Dockerfile
!/examples
!/in
!/out
!/README.md
!/spec
!/src/
!/package-lock.json
!/package.json
